---
import { Image } from "astro:assets";
import avatar from "../assets/messagerAvatar.svg";
import recipe from "../assets/messagerRecipe.png";
---

<section class="flex flex-wrap justify-between">
    <div class="relative max-w-[530px] pt-8 mt-8">
        <div
            class="border-2 border-black pt-[70px] pb-[25px] px-[60px] rounded-[35px]"
        >
            <div class="absolute top-0 left-[41%]">
                <Image src={avatar} alt="" />
            </div>
            <p class="text-[16px] font-bold text-center">
                Спасибо за рецепт, очень вкусно. Ждём новых <br />
                рецептов в скоромвремени.
            </p>
            <div class="flex mt-[78px] items-center justify-between">
                <div>
                    <div class="text-[#E1AB20] text-[22px] font-bold mb-1">
                        Devon Miles
                    </div>
                    <div class="text-[12px]">Executive Engineer</div>
                </div>
                <Image src={recipe} alt="" />
            </div>
        </div>
    </div>
    
    <div class="relative max-w-[530px] pt-8 mt-8">
        <div
            class="border-2 border-black pt-[70px] pb-[25px] px-[60px] rounded-[35px]"
        >
            <div class="absolute top-0 left-[41%]">
                <Image src={avatar} alt="" />
            </div>
            <p class="text-[16px] font-bold text-center">
                Спасибо за рецепт, очень вкусно. Ждём новых <br />
                рецептов в скоромвремени.
            </p>
            <div class="flex mt-[78px] items-center justify-between">
                <div>
                    <div class="text-[#E1AB20] text-[22px] font-bold mb-1">
                        Devon Miles
                    </div>
                    <div class="text-[12px]">Executive Engineer</div>
                </div>
                <Image src={recipe} alt="" />
            </div>
        </div>
    </div>

    <div class="relative max-w-[530px] pt-8 mt-8">
        <div
            class="border-2 border-black pt-[70px] pb-[25px] px-[60px] rounded-[35px]"
        >
            <div class="absolute top-0 left-[41%]">
                <Image src={avatar} alt="" />
            </div>
            <p class="text-[16px] font-bold text-center">
                Спасибо за рецепт, очень вкусно. Ждём новых <br />
                рецептов в скоромвремени.
            </p>
            <div class="flex mt-[78px] items-center justify-between">
                <div>
                    <div class="text-[#E1AB20] text-[22px] font-bold mb-1">
                        Devon Miles
                    </div>
                    <div class="text-[12px]">Executive Engineer</div>
                </div>
                <Image src={recipe} alt="" />
            </div>
        </div>
    </div>

    <div class="relative max-w-[530px] pt-8 mt-8">
        <div
            class="border-2 border-black pt-[70px] pb-[25px] px-[60px] rounded-[35px]"
        >
            <div class="absolute top-0 left-[41%]">
                <Image src={avatar} alt="" />
            </div>
            <p class="text-[16px] font-bold text-center">
                Спасибо за рецепт, очень вкусно. Ждём новых <br />
                рецептов в скоромвремени.
            </p>
            <div class="flex mt-[78px] items-center justify-between">
                <div>
                    <div class="text-[#E1AB20] text-[22px] font-bold mb-1">
                        Devon Miles
                    </div>
                    <div class="text-[12px]">Executive Engineer</div>
                </div>
                <Image src={recipe} alt="" />
            </div>
        </div>
    </div>

    <div class="relative max-w-[530px] pt-8 mt-8">
        <div
            class="border-2 border-black pt-[70px] pb-[25px] px-[60px] rounded-[35px]"
        >
            <div class="absolute top-0 left-[41%]">
                <Image src={avatar} alt="" />
            </div>
            <p class="text-[16px] font-bold text-center">
                Спасибо за рецепт, очень вкусно. Ждём новых <br />
                рецептов в скоромвремени.
            </p>
            <div class="flex mt-[78px] items-center justify-between">
                <div>
                    <div class="text-[#E1AB20] text-[22px] font-bold mb-1">
                        Devon Miles
                    </div>
                    <div class="text-[12px]">Executive Engineer</div>
                </div>
                <Image src={recipe} alt="" />
            </div>
        </div>
    </div>

    <div class="relative max-w-[530px] pt-8 mt-8">
        <div
            class="border-2 border-black pt-[70px] pb-[25px] px-[60px] rounded-[35px]"
        >
            <div class="absolute top-0 left-[41%]">
                <Image src={avatar} alt="" />
            </div>
            <p class="text-[16px] font-bold text-center">
                Спасибо за рецепт, очень вкусно. Ждём новых <br />
                рецептов в скоромвремени.
            </p>
            <div class="flex mt-[78px] items-center justify-between">
                <div>
                    <div class="text-[#E1AB20] text-[22px] font-bold mb-1">
                        Devon Miles
                    </div>
                    <div class="text-[12px]">Executive Engineer</div>
                </div>
                <Image src={recipe} alt="" />
            </div>
        </div>
    </div>
</section>

<style is:global>
    @import "../../src/styles/global.css";
</style>
