---
import { Image } from "astro:assets";
import recipe from "../assets/recipe.png";
import avatar from "../assets/avatar.png";
import deleteIcon from "../assets/delete.svg";
import edit from "../assets/edit.svg";
---

<section class="grid grid-cols-3 gap-10">
    <div>
        <Image src={recipe} alt="" class="w-full" />
        <h3 class="text-[20px] font-semibold mt-3">
            Crochet Projects for Noodle Lovers
        </h3>
        <p class="text-black/60 text-[13px] my-3">
            Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqut enim
        </p>

        <div class="flex items-center justify-between">
            <div class="flex items-center gap-[10px]">
                <Image src={avatar} alt="" width="33" height="33" />
                <div class="font-bold text-[13px]">Wade Warren</div>
            </div>
            <div class="flex items-center gap-[10px]">
                <div class="text-[12px] text-black/60">12 November 2021</div>
                <Image src={deleteIcon} alt="" />
                <Image src={edit} alt="" />
            </div>
        </div>
    </div>

    <div>
        <Image src={recipe} alt="" class="w-full" />
        <h3 class="text-[20px] font-semibold mt-3">
            Crochet Projects for Noodle Lovers
        </h3>
        <p class="text-black/60 text-[13px] my-3">
            Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqut enim
        </p>

        <div class="flex items-center justify-between">
            <div class="flex items-center gap-[10px]">
                <Image src={avatar} alt="" width="33" height="33" />
                <div class="font-bold text-[13px]">Wade Warren</div>
            </div>
            <div class="flex items-center gap-[10px]">
                <div class="text-[12px] text-black/60">12 November 2021</div>
                <Image src={deleteIcon} alt="" />
                <Image src={edit} alt="" />
            </div>
        </div>
    </div>

    <div>
        <Image src={recipe} alt="" class="w-full" />
        <h3 class="text-[20px] font-semibold mt-3">
            Crochet Projects for Noodle Lovers
        </h3>
        <p class="text-black/60 text-[13px] my-3">
            Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqut enim
        </p>

        <div class="flex items-center justify-between">
            <div class="flex items-center gap-[10px]">
                <Image src={avatar} alt="" width="33" height="33" />
                <div class="font-bold text-[13px]">Wade Warren</div>
            </div>
            <div class="flex items-center gap-[10px]">
                <div class="text-[12px] text-black/60">12 November 2021</div>
                <Image src={deleteIcon} alt="" />
                <Image src={edit} alt="" />
            </div>
        </div>
    </div>

    <div>
        <Image src={recipe} alt="" class="w-full" />
        <h3 class="text-[20px] font-semibold mt-3">
            Crochet Projects for Noodle Lovers
        </h3>
        <p class="text-black/60 text-[13px] my-3">
            Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqut enim
        </p>

        <div class="flex items-center justify-between">
            <div class="flex items-center gap-[10px]">
                <Image src={avatar} alt="" width="33" height="33" />
                <div class="font-bold text-[13px]">Wade Warren</div>
            </div>
            <div class="flex items-center gap-[10px]">
                <div class="text-[12px] text-black/60">12 November 2021</div>
                <Image src={deleteIcon} alt="" />
                <Image src={edit} alt="" />
            </div>
        </div>
    </div>

    <div>
        <Image src={recipe} alt="" class="w-full" />
        <h3 class="text-[20px] font-semibold mt-3">
            Crochet Projects for Noodle Lovers
        </h3>
        <p class="text-black/60 text-[13px] my-3">
            Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqut enim
        </p>

        <div class="flex items-center justify-between">
            <div class="flex items-center gap-[10px]">
                <Image src={avatar} alt="" width="33" height="33" />
                <div class="font-bold text-[13px]">Wade Warren</div>
            </div>
            <div class="flex items-center gap-[10px]">
                <div class="text-[12px] text-black/60">12 November 2021</div>
                <Image src={deleteIcon} alt="" />
                <Image src={edit} alt="" />
            </div>
        </div>
    </div>

    <div>
        <Image src={recipe} alt="" class="w-full" />
        <h3 class="text-[20px] font-semibold mt-3">
            Crochet Projects for Noodle Lovers
        </h3>
        <p class="text-black/60 text-[13px] my-3">
            Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqut enim
        </p>

        <div class="flex items-center justify-between">
            <div class="flex items-center gap-[10px]">
                <Image src={avatar} alt="" width="33" height="33" />
                <div class="font-bold text-[13px]">Wade Warren</div>
            </div>
            <div class="flex items-center gap-[10px]">
                <div class="text-[12px] text-black/60">12 November 2021</div>
                <Image src={deleteIcon} alt="" />
                <Image src={edit} alt="" />
            </div>
        </div>
    </div>
</section>

<style is:global>
    @import "../../src/styles/global.css";
</style>
