---
import { Image } from "astro:assets";
import avatar from "../assets/avatar.png"

---

<section class="w-full">
    <h1 class="text-[48px] font-semibold text-center">User Subscriptions</h1>
    <div class="grid grid-cols-2">
        <div class="flex items-center gap-3.5 mt-8">
            <Image src={avatar} alt=""/>
            <div>
                <div class="text-[21px] font-semibold">Crochet Projects for Noodle Lovers</div>
                <div class="font-semibold my-2">Email: lallalala@gmail.com</div>
                <div class="text-[12px] text-black/60 font-semibold">12 November 2021</div>
            </div>
        </div>
        <div class="flex items-center gap-3.5 mt-8">
            <Image src={avatar} alt=""/>
            <div>
                <div class="text-[21px] font-semibold">Crochet Projects for Noodle Lovers</div>
                <div class="font-semibold my-2">Email: lallalala@gmail.com</div>
                <div class="text-[12px] text-black/60 font-semibold">12 November 2021</div>
            </div>
        </div>
        <div class="flex items-center gap-3.5 mt-8">
            <Image src={avatar} alt=""/>
            <div>
                <div class="text-[21px] font-semibold">Crochet Projects for Noodle Lovers</div>
                <div class="font-semibold my-2">Email: lallalala@gmail.com</div>
                <div class="text-[12px] text-black/60 font-semibold">12 November 2021</div>
            </div>
        </div>
        <div class="flex items-center gap-3.5 mt-8">
            <Image src={avatar} alt=""/>
            <div>
                <div class="text-[21px] font-semibold">Crochet Projects for Noodle Lovers</div>
                <div class="font-semibold my-2">Email: lallalala@gmail.com</div>
                <div class="text-[12px] text-black/60 font-semibold">12 November 2021</div>
            </div>
        </div>
        <div class="flex items-center gap-3.5 mt-8">
            <Image src={avatar} alt=""/>
            <div>
                <div class="text-[21px] font-semibold">Crochet Projects for Noodle Lovers</div>
                <div class="font-semibold my-2">Email: lallalala@gmail.com</div>
                <div class="text-[12px] text-black/60 font-semibold">12 November 2021</div>
            </div>
        </div>
        <div class="flex items-center gap-3.5 mt-8">
            <Image src={avatar} alt=""/>
            <div>
                <div class="text-[21px] font-semibold">Crochet Projects for Noodle Lovers</div>
                <div class="font-semibold my-2">Email: lallalala@gmail.com</div>
                <div class="text-[12px] text-black/60 font-semibold">12 November 2021</div>
            </div>
        </div>
    </div>
</section>

<style is:global>
    @import "../../src/styles/global.css";
</style>
