---
import { Image } from 'astro:assets';
import Breakfast from '../assets/breakfast.png';
import Vegan from '../assets/vegan.png';
import Meet from '../assets/meet.png';
import Desert from '../assets/desert.png';
import Lunch from '../assets/lunch.png';
import Chocolate from '../assets/chocolate.png';
---

<!-- <section class="container-layout">
    <h2>Categories</h2>
    <div class="flex items-center justify-between gap-10 w-full">
        <Image src={Breakfast} width={150} height={150} alt="Breakfast-image" class="w-[100px]" />
        <Image src={Vegan} width={150} height={150} alt="Vegan-image" class="" />
        <Image src={Meet} width={150} height={150} alt="Meet-image" class="" />
        <Image src={Desert} width={150} height={150} alt="Desert-image" class="" />
        <Image src={Lunch} width={150} height={150} alt="Lunch-image" class="" />
        <Image src={Chocolate} width={150} height={150} alt="Chocolate-image" class="" />

    </div>
</section> -->