---
import recipe from "../assets/recipe.png";
import { Image } from "astro:assets";
import avatar from "../assets/avatar.svg";
import fresa from "../assets/fresa.png";
---

<section class="container-layout">
    <h1 class="text-[64px] font-semibold text-center mb-10">Favorites</h1>

    <div class="flex items-start justify-between gap-10 mt-20">
        <div class="flex flex-col gap-8">
            <div class="flex items-center gap-10">
                <Image src={recipe} alt="" width="290" height="290" />

                <div>
                    <h2 class="text-2xl font-semibold">
                        Crochet Projects for Noodle Lovers
                    </h2>
                    <p class="mt-4 text-[16px] text-black/60">
                        Lorem ipsum dolor sit amet, consectetuipisicing elit,
                        sed do <br /> eiusmod tempor incididunt ut labore et dolore
                        magna aliqut enim
                    </p>
                    <div class="flex gap-[64px] mt-8">
                        <div class="flex items-center gap-4">
                            <Image src={avatar} alt="" />
                            <div class="text-[16px] font-bold">John Smith</div>
                        </div>

                        <div class="flex items-center gap-4">
                            <div class="text-black/60">12 November 2021</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-10">
                <Image src={recipe} alt="" width="290" height="290" />

                <div>
                    <h2 class="text-2xl font-semibold">
                        Crochet Projects for Noodle Lovers
                    </h2>
                    <p class="mt-4 text-[16px] text-black/60">
                        Lorem ipsum dolor sit amet, consectetuipisicing elit,
                        sed do <br /> eiusmod tempor incididunt ut labore et dolore
                        magna aliqut enim
                    </p>
                    <div class="flex gap-[64px] mt-8">
                        <div class="flex items-center gap-4">
                            <Image src={avatar} alt="" />
                            <div class="text-[16px] font-bold">John Smith</div>
                        </div>

                        <div class="flex items-center gap-4">
                            <div class="text-black/60">12 November 2021</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-10">
                <Image src={recipe} alt="" width="290" height="290" />

                <div>
                    <h2 class="text-2xl font-semibold">
                        Crochet Projects for Noodle Lovers
                    </h2>
                    <p class="mt-4 text-[16px] text-black/60">
                        Lorem ipsum dolor sit amet, consectetuipisicing elit,
                        sed do <br /> eiusmod tempor incididunt ut labore et dolore
                        magna aliqut enim
                    </p>
                    <div class="flex gap-[64px] mt-8">
                        <div class="flex items-center gap-4">
                            <Image src={avatar} alt="" />
                            <div class="text-[16px] font-bold">John Smith</div>
                        </div>

                        <div class="flex items-center gap-4">
                            <div class="text-black/60">12 November 2021</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-10">
                <Image src={recipe} alt="" width="290" height="290" />

                <div>
                    <h2 class="text-2xl font-semibold">
                        Crochet Projects for Noodle Lovers
                    </h2>
                    <p class="mt-4 text-[16px] text-black/60">
                        Lorem ipsum dolor sit amet, consectetuipisicing elit,
                        sed do <br /> eiusmod tempor incididunt ut labore et dolore
                        magna aliqut enim
                    </p>
                    <div class="flex gap-[64px] mt-8">
                        <div class="flex items-center gap-4">
                            <Image src={avatar} alt="" />
                            <div class="text-[16px] font-bold">John Smith</div>
                        </div>

                        <div class="flex items-center gap-4">
                            <div class="text-black/60">12 November 2021</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-10">
                <Image src={recipe} alt="" width="290" height="290" />

                <div>
                    <h2 class="text-2xl font-semibold">
                        Crochet Projects for Noodle Lovers
                    </h2>
                    <p class="mt-4 text-[16px] text-black/60">
                        Lorem ipsum dolor sit amet, consectetuipisicing elit,
                        sed do <br /> eiusmod tempor incididunt ut labore et dolore
                        magna aliqut enim
                    </p>
                    <div class="flex gap-[64px] mt-8">
                        <div class="flex items-center gap-4">
                            <Image src={avatar} alt="" />
                            <div class="text-[16px] font-bold">John Smith</div>
                        </div>

                        <div class="flex items-center gap-4">
                            <div class="text-black/60">12 November 2021</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-10">
                <Image src={recipe} alt="" width="290" height="290" />

                <div>
                    <h2 class="text-2xl font-semibold">
                        Crochet Projects for Noodle Lovers
                    </h2>
                    <p class="mt-4 text-[16px] text-black/60">
                        Lorem ipsum dolor sit amet, consectetuipisicing elit,
                        sed do <br /> eiusmod tempor incididunt ut labore et dolore
                        magna aliqut enim
                    </p>
                    <div class="flex gap-[64px] mt-8">
                        <div class="flex items-center gap-4">
                            <Image src={avatar} alt="" />
                            <div class="text-[16px] font-bold">John Smith</div>
                        </div>

                        <div class="flex items-center gap-4">
                            <div class="text-black/60">12 November 2021</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col gap-[58px]">
            <Image src={fresa} alt=""/>
            <Image src={fresa} alt=""/>
            <Image src={fresa} alt=""/>
        </div>
    </div>
</section>

<style is:global>
    @import "../styles/global.css";
</style>
