---
import recipe from "../assets/recipe.png";
import { Image } from "astro:assets";
import avatar from "../assets/avatar.svg";
---

<section class="container-layout">
    <h1 class="text-[64px] font-semibold text-center mb-6">Blog & Article</h1>
    <p class="text-black/60 text-center text-[16px] mb-20">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore
    </p>

    <div class="flex-center w-full">
        <div class="relative flex-center">
            <input
                type="email"
                placeholder="Search article, news or recipe..."
                class="bg-white w-[700px] h-20 py-8 px-8 rounded-3xl
           placeholder:text-gray-500 focus:outline-none mx-auto border-gray-500 border"
            />
            <button
                type="submit"
                class="bg-black py-5 px-11 w-40 h-15 rounded-3xl text-white absolute top-[15%] bottom-[15%] right-[10px]"
                >Search</button
            >
        </div>
    </div>

    <div class="flex items-start justify-between gap-10 mt-20">
        <div class="flex flex-col gap-8">
            <div class="flex items-center gap-10">
                <Image src={recipe} alt="" width="290" height="290" />

                <div>
                    <h2 class="text-2xl font-semibold">Crochet Projects for Noodle Lovers</h2>
                    <p class="mt-4 text-[16px] text-black/60">
                        Lorem ipsum dolor sit amet, consectetuipisicing elit,
                        sed do <br /> eiusmod tempor incididunt ut labore et dolore
                        magna aliqut enim
                    </p>
                    <div class="flex gap-[64px] mt-8">
                        <div class="flex items-center gap-4">
                            <Image src={avatar} alt="" />
                            <div class="text-[16px] font-bold">John Smith</div>
                        </div>

                        <div class="flex items-center gap-4">
                            <div class="text-black/60">12 November 2021</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-10">
                <Image src={recipe} alt="" width="290" height="290" />

                <div>
                    <h2 class="text-2xl font-semibold">Crochet Projects for Noodle Lovers</h2>
                    <p class="mt-4 text-[16px] text-black/60">
                        Lorem ipsum dolor sit amet, consectetuipisicing elit,
                        sed do <br /> eiusmod tempor incididunt ut labore et dolore
                        magna aliqut enim
                    </p>
                    <div class="flex gap-[64px] mt-8">
                        <div class="flex items-center gap-4">
                            <Image src={avatar} alt="" />
                            <div class="text-[16px] font-bold">John Smith</div>
                        </div>

                        <div class="flex items-center gap-4">
                            <div class="text-black/60">12 November 2021</div>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="flex items-center gap-10">
                <Image src={recipe} alt="" width="290" height="290" />

                <div>
                    <h2 class="text-2xl font-semibold">Crochet Projects for Noodle Lovers</h2>
                    <p class="mt-4 text-[16px] text-black/60">
                        Lorem ipsum dolor sit amet, consectetuipisicing elit,
                        sed do <br /> eiusmod tempor incididunt ut labore et dolore
                        magna aliqut enim
                    </p>
                    <div class="flex gap-[64px] mt-8">
                        <div class="flex items-center gap-4">
                            <Image src={avatar} alt="" />
                            <div class="text-[16px] font-bold">John Smith</div>
                        </div>

                        <div class="flex items-center gap-4">
                            <div class="text-black/60">12 November 2021</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-10">
                <Image src={recipe} alt="" width="290" height="290" />

                <div>
                    <h2 class="text-2xl font-semibold">Crochet Projects for Noodle Lovers</h2>
                    <p class="mt-4 text-[16px] text-black/60">
                        Lorem ipsum dolor sit amet, consectetuipisicing elit,
                        sed do <br /> eiusmod tempor incididunt ut labore et dolore
                        magna aliqut enim
                    </p>
                    <div class="flex gap-[64px] mt-8">
                        <div class="flex items-center gap-4">
                            <Image src={avatar} alt="" />
                            <div class="text-[16px] font-bold">John Smith</div>
                        </div>

                        <div class="flex items-center gap-4">
                            <div class="text-black/60">12 November 2021</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-10">
                <Image src={recipe} alt="" width="290" height="290" />

                <div>
                    <h2 class="text-2xl font-semibold">Crochet Projects for Noodle Lovers</h2>
                    <p class="mt-4 text-[16px] text-black/60">
                        Lorem ipsum dolor sit amet, consectetuipisicing elit,
                        sed do <br /> eiusmod tempor incididunt ut labore et dolore
                        magna aliqut enim
                    </p>
                    <div class="flex gap-[64px] mt-8">
                        <div class="flex items-center gap-4">
                            <Image src={avatar} alt="" />
                            <div class="text-[16px] font-bold">John Smith</div>
                        </div>

                        <div class="flex items-center gap-4">
                            <div class="text-black/60">12 November 2021</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center gap-10">
                <Image src={recipe} alt="" width="290" height="290" />

                <div>
                    <h2 class="text-2xl font-semibold">Crochet Projects for Noodle Lovers</h2>
                    <p class="mt-4 text-[16px] text-black/60">
                        Lorem ipsum dolor sit amet, consectetuipisicing elit,
                        sed do <br /> eiusmod tempor incididunt ut labore et dolore
                        magna aliqut enim
                    </p>
                    <div class="flex gap-[64px] mt-8">
                        <div class="flex items-center gap-4">
                            <Image src={avatar} alt="" />
                            <div class="text-[16px] font-bold">John Smith</div>
                        </div>

                        <div class="flex items-center gap-4">
                            <div class="text-black/60">12 November 2021</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col gap-6">
            <h1 class="text-[32px] font-semibold mb-2">Other Recipe</h1>
            <div class="flex items-center gap-6 max-w-[400px]">
                <Image src={recipe} alt="" />
                <div>
                    <div class="text-[18px] mb-4 font-semibold">
                        Chicken Meatball with Creamy Chees...
                    </div>
                    <p class="text-black/60 text-[14px]">By Andreas Paula</p>
                </div>
            </div>

            <div class="flex items-center gap-6 max-w-[400px]">
                <Image src={recipe} alt="" />
                <div>
                    <div class="text-[18px] mb-4 font-semibold">
                        Chicken Meatball with Creamy Chees...
                    </div>
                    <p class="text-black/60 text-[14px]">By Andreas Paula</p>
                </div>
            </div>

            <div class="flex items-center gap-6 max-w-[400px]">
                <Image src={recipe} alt="" />
                <div>
                    <div class="text-[18px] mb-4 font-semibold">
                        Chicken Meatball with Creamy Chees...
                    </div>
                    <p class="text-black/60 text-[14px]">By Andreas Paula</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style is:global>
    @import "../styles/global.css";
</style>
